/* reset browser own CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%; 
	vertical-align: top;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Own CSS*/

p{
	margin-bottom: 6px;
	margin-top: 6px;
	font-size: 14px;
	line-height: 18px;
}

html { height:100%; width:100%;}
body { height:100%; width:100%; background-color:rgba(255, 233, 74, 0.18);;}
img{ border-width:0px; }
h1{color:#31943a; font: bold 32px arial,sans-serif; margin: 5px 0;}
h2{color:#31943a; font: bold 26px arial,sans-serif; margin: 15px 0;}
h3{color:#31943a; font: bold 20px arial,sans-serif; margin: 25px 0px 20px 0;}

header{
    color:white; 
    background:#555;
    display: block;
    padding: 10px;
    background-image: url(/img/headerbg.png);
    background-size: 100%;
}
header img{
    float: right;
    height: 82px;
    margin-left: 15px;
    opacity: .3;
}
header h1{
    line-height: 30px;
    color: #ffffff;
    background-color: rgba(70, 67, 58, 0.45);
    display: inline-block;
    padding: 8px;
    border-radius: 10px;
}
header a{
    display: inline-block;
    color: rgb(195, 195, 195);
    background: rgba(64, 63, 63, 0.58);
    width: auto;
    padding: 3px 13px;
    margin: 2px 6px 0px 0px;
    text-decoration: none;
    font: bold 14px arial, sans-serif;
    height: 17px;
    position: relative;
    top: 5px;
}
header a:hover{
    color: #000;
    background:#888;
}
header a.active{
	color:#222;
	background: #ffffff;
	position: relative;	
	top: 10px;
}

footer{
    color:white; 
    background:#555;
    height:30px;
    display: block;
    padding: 10px;
}
footer h2{ 
    color: #ffffff; line-height: 0px;
}
footer a{
  background: rgba(0, 0, 0, 0.3);
  color: rgb(85, 244, 100);
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}
footer a:hover{
	background: rgba(0, 0, 0, 0.5);
	color:#fff
}

.container{
	width:1000px;
	margin-left:auto;
    margin-right:auto;
}
.bodyDiv{
    padding: 15px;
    font: 16px arial,sans-serif;
    background:#fff;
    border-left: 2px solid #555;
}
.logo{
	float: left; 
	height: 128px;
	width: 123px;
	margin: 11px 40px 1px 10px;
}
.logo_address, .content_header{
	background: #aaaaaa; /* Old browsers */
	background: -moz-linear-gradient(top,  #aaaaaa 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aaaaaa), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #aaaaaa 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #aaaaaa 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #aaaaaa 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #aaaaaa 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aaaaaa', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	padding: 10px;
	border-radius: 10px;
}
 
.services{
	margin: 8px 0px;
	font: 16px arial, sans-serif;
}

.services div{
	margin: 5px 0px;
	background-color: #e0e0e0;
	border-radius: 5px;
	padding:10px;
	min-height: 21px;
}    	
.services div i{
	position: relative;
	float: left;
	display: inline-block;
	width:15px;
	height:15px;
	border: 3px solid grey;
	margin-right:10px;
	background-color: white;
}
.services div i img{
	display:none;
	position: absolute;
	top: -10px;
	height:25px;
}   
hr{
	border: 1px solid rgb(49, 147, 58);
	margin: 15px 5px 30px 5px;
}

.code_snippet {
  border: 1px solid rgb(255, 196, 160);
  border-radius: 10px;
  margin-bottom: 15px;
  overflow-x: auto;
  background: #ffffe0;
  font-size: 12px;
  padding: 15px 0;
}
.highlighted{
	font-weight: bold;
	font-style: italic;
}

.project_list{
	font: 14px arial, sans-serif;
}
.project_list h3{
	font: bold 16px arial, sans-serif;
	margin: 2px 0px;
	color: rgb(17, 100, 24);
}
.project_list h3 a{
	color: rgb(3, 58, 8);
}
.project_list li{
  margin: 10px 0px;
  border: 1px solid rgb(151, 213, 157);
  padding: 10px;
  background: rgb(194, 237, 198);
  border-radius: 10px;
}
.projects h1,.projects h2{
	color: rgb(17, 100, 24);
	/*text-decoration: underline;*/
}
.projects h2{
	margin: 25px 0 15px 0;
}
.projects h1{
	margin-top: 0;
}
.projects img{
  float: left;
  height: 50px;
  width: 50px;
  margin-right: 10px;
  /* margin-top: 5px; */
  position: relative;
  top: -10px;
}

.menuebutton{
	display:none;
	background: url(/img/mobile_menu.png) no-repeat;
    background-position: 0px -60px;
	height:50px;
	width:50px;
	float:left;
	padding: 0;
	margin: 8px 15px 8px 8px;
}
.menuebutton:hover{
    background: url(/img/mobile_menu.png) no-repeat;
    background-position: 0px -0px;
}
.hide{
	display: none;
}

.language_switcher{
  display: block;
  font: 12px arial,sans-serif;
  text-decoration: none;
  text-align: right;
}
.language_switcher a{
  display: inline-block;
  background: white;
  margin: 2px 0 0px 5px;
  padding: 5px;
  border-radius: 5px 5px 0 0;
}
.language_switcher span{
  display: inline-block;
  background: #555;
  margin: 2px 0px 0px 5px;
  padding: 5px;
  color: #FFF;
  border-radius: 5px 5px 0 0;
  position: relative;
  top: 1px;
}

.language_switcher i{
	display: inline-block;  
	width: 16px;
	height: 11px;
	margin-right: 5px;
    margin-top: 1px;
	background: url(/img/flagssmall.png) no-repeat;
}
.language_switcher i.deutsch{
  background-position: -64px -33px;
}
.language_switcher i.english {
  background-position: -160px -44px;
}


@media only screen and (max-width: 1024px)  {
/* Styles placed here will only apply to screens less than 1000 pixels wide */

header{
	width:auto;
	height: auto;
	min-width: 240px;
	min-height: 55px;
}
.container{
	width:auto;
	height: auto;
}
.bodyDiv{
	width:auto;
	min-width: 240px
}
footer{
	width:auto;
	min-width: 240px
}
.services div {
	height: auto;
}
}

@media only screen and (max-width: 768px) {
/* Styles placed here will only apply to screens less than 768 pixels wide */
header img{
    height: 58px;
}
header{
	background-size: 100% 100%;	
}
}

@media only screen and (max-width: 480px) {
/* Styles placed here will only apply to screens more than 768 pixels wide */
body{
  font: 22px arial,sans-serif;
}
header a:hover {
  background-color: none;
}

.logo{
  width: 60%;
  height: auto;
  display: block;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 30px;
  margin-top: 20px;
}
header img.greylogo{
	display: none;
}
.menuebutton{
	display:block;
}
.bodyDiv{
 font: 18px arial,sans-serif;
}
.mm{
	display: none;
  	position: absolute;
}
.mm a{
	display: block;
	width: 90%;
	font: 24px arial,sans-serif;
	height: auto;
	margin: 1px;
	border: 1px solid grey;
	padding: 8px;
}
}